<dialog id="simpleDialog" class="p-5 rounded-lg w-[400px]">
  <h2>Confirmation</h2>
  <p class="font-semibold">
    Are you sure you want to <span class="text-myred">Delete</span>?
  </p>

  <p class="bg-red-400 p-2 my-4 rounded-lg" id="postTitle"></p>
  <!-- Placeholder for the post title -->

  <p>This action cannot be undone!</p>
  <form class="mt-3 flex items-center gap-3" id="deleteForm" method="POST">
    <button
      class="w-full border border-myblack p-2.5 rounded-lg hover:bg-slate-400 duration-300"
      type="button"
      id="closeDialog"
    >
      Cancel
    </button>
    <button
      class="w-full text-white bg-myred p-2.5 rounded-lg hover:bg-red-600 duration-300"
      type="submit"
      id="confirmDialog"
    >
      OK
    </button>
  </form>
</dialog>
