<div class="w-full">
    <label for="password" class="font-bold">Password</label>
    <div class="relative w-full">
      <input
        type="password"
        class="passwordField border border-mygray w-full"
        placeholder="Enter password"
        id="password"
        name="password"
        required
      />
  
      <button
        type="button"
        id="togglePassword"
        class="absolute right-[10px] top-[50%] translate-y-[-50%]"
        aria-label="Toggle password visibility"
      >
        <i class="fa-solid fa-eye" id="eyeIcon"></i>
      </button>
    </div>
  </div>
  