<div class="searchBar invisible translate-y-[-100px] bg-myblack py-1 absolute left-0 right-0" id="searchBar">
    <div class="container relative">
        <form action="/search" class="searchForm" role="search" method="POST">
        <input class="m-0 p-0" type="search" name="searchTerm" id="searchInput" aria-label="Search" placeholder="Search the site...">
        </form>
        <button id="searchClose" class="absolute top-[50%] translate-y-[-50%] right-1.5  p-[10px] text-myblack  w-fit h-full hover:bg-red-500">Close</button>
    </div>
</div>