<h2>My Socials</h2>
<div class="grid grid-cols-1 md:grid-cols-40/60 gap-5 contactContainer">
  <div
    class="animations w-full place-items-center grid grid-cols-2 md:grid-cols-1 md:place-items-start"
  >
    <img
      src="/img/agenda.gif"
      alt="Short looping video"
      class="max-w-60 h-auto"
    />
    <img
      src="/img/contact.gif"
      alt="Short looping video"
      class="max-w-60 h-auto md:place-self-end"
    />
  </div>

  <div class="contact-wrapper place-items-center">
    <div>
      <h3 class="font-semibold text-center mb-4">
        Would love to hear from you❤️
      </h3>

      <ul>
        <li class="flex items-center gap-4 mb-5">
          <a
            class="text-fontSizeXl hover:text-red-600 flex duration-300"
            target="_blank"
            href="https://www.gmail.com"
            ><i class="fa-regular fa-envelope"></i
          ></a>
          <span class="text-fontSizeMd">professional.jeffb@gmail.com</span>
        </li>
        <li class="flex items-center gap-4 mb-5">
          <a
            class="text-fontSizeXl hover:text-blue-600 flex duration-300"
            target="_blank"
            href="https://www.linkedin.com/in/jeffrey-b-709a511aa"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <span class="text-fontSizeMd"
            >linkedin.com/in/jeffrey-b-709a511aa</span
          >
        </li>
        <li class="flex items-center gap-4 mb-5">
          <a
            class="text-fontSizeXl hover:bg-myblack h-fit flex rounded-full duration-300"
            target="_blank"
            href="https://www.github.com/DarkOPJ/"
            ><i
              class="fa-brands fa-github rounded-full hover:text-white duration-300"
            ></i
          ></a>
          <span class="text-fontSizeMd">DarkOPJ</span>
        </li>
      </ul>

      <h3 class="mt-1">
        Buy Me a <button class="text-amber-900 hover:underline" id="coffee-btn">Coffee</button>
      </h3>
      
      <div class="coffee-form-wrapper overflow-hidden h-0 w-full">
        <form class="coffee-form">
          <div class="my-3 grid gap-4 grid-cols-1 sm:grid-cols-2">
            <div class="w-full">
              <label for="email" class="font-bold">E-mail</label>
              <input
                type="email"
                style="margin: 0;"
                class="border border-mygray m-0"
                placeholder="john@example.com"
                id="email"
                name="email"
              />
            </div>
            <div class="w-full">
              <label for="amount" class="font-bold">Amount (GH₵)</label>
              <input
                type="number"
                style="margin: 0;"
                class="border border-mygray"
                placeholder="eg. 50"
                id="amount"
                name="amount"
              />
            </div>
            <div class="w-full">
              <label for="firstName" class="font-bold">First Name</label>
              <input
                type="text"
                style="margin: 0;"

                class="border border-mygray"
                placeholder="eg. John"
                id="firstName"
                name="firstName"
              />
            </div>
            <div class="w-full">
              <label for="lastName" class="font-bold">Last Name</label>
              <input
                type="text"
                style="margin: 0;"

                class="border border-mygray"
                placeholder="eg. Smith"
                id="lastName"
                name="lastName"
              />
            </div>

            <div class="w-full flex justify-center">
              <input
                type="submit"
                style="margin: 0;"
                class="text-white bg-black cursor-pointer"
                value="Buy me a Coffee"
              />
            </div>
          </div>
                 
        </form>
      </div>
      
    </div>
  </div>
</div>
