<div class="grid place-items-center">
  <h1 class="text-fontSizeXl font-bold">Login Successful</h1>

  <h3 class="my-5">
    Welcome
  </h3>

  <a href="/dashboard" class="hover:underline">Proceed to dashboard</a>
</div>
